body{
    margin: 0;
    padding: 0;
    max-width: 1920px;
    max-height: 500px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:rgb(2, 2, 2);
    
}

p{
    font-size: 15px;
    line-height: 1.0;
    text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(img.jpg) no-repeat center /cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-center: rgb(255, 255, 255, 0)
}