body {
    margin: 0;
    font-family: "Sofia Pro Black",Helvetica Neue,Helvetica,Arial,sans-serif;
    height: 1000vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    text-transform: uppercase;
    background-color: #0065c3;
    padding: 10px;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar-item {
    margin-left: 20px;
    cursor: pointer;
}

.navbar-right .navbar-item {
    border-radius: 30px;
    border: 2px solid white;
    padding: 5px 25px;
}

.product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-item img {
    max-width: 60%;
    padding: 20px;
}

.product-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item-column {
    flex-direction: column;
}

.product-text {
    color: white;
    font-size: 23px;
    text-align: center;
}

.product-button {
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 5px 35px;
}

